@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2B2D42;
    gap: 50px;
    color: #F7F7F9;
    font-family: "Press Start 2P", monospace;
    font-size: 14px;
}

button:hover {
    cursor: pointer;
    scale: 1.1;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 370px;
    width: 560px;
    padding: 50px;
    border: 2px solid #FFD700;
}

/* Hero section */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.title {
    font-size: 32px;
    margin: 0;
}

.heart {
    width: 23px;
}

/* End of hero section */

/* Skillset section */

.skillset {
    display: flex;
    gap: 20px;
}

.skill {
    height: 90px;
    width: 90px;
    border: 2px solid #F7F7F9;
    display: flex;
    background-color: #2B2D42;
    position: relative;
}

.man .skill {
    box-shadow: inset 2px 2px 3px black;
}

.skill > img {
    width: 75px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.win-border {
    border: 3px solid #41E2BA;
}

.lose-border {
    border: 3px solid #E86A92;
}

.draw-border {
    border: 3px solid #FFD700;
}

/* End of skillset section */

/* Game-over section */

.cover {
    position: absolute;
    background-color: #202024;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 200px);

    height: 175px;
    width: 400px;
    padding: 20px;
    gap: 5px;

    background-color: #2B2D42;
    border: 2px solid #F7F7F9;
    border-radius: 5px;

    text-align: center;
    font-size: 12px;
}

.reset {
    box-sizing: border-box;
    padding: 10px 20px;

    background-color: #2B2D42;
    border: 2px solid #F7F7F9;
    border-radius: 2px;

    font-family: "Press Start 2P", monospace;
    font-size: 12px;
    color: #F7F7F9;
}

/* End of game-over section */