@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    align-items: stretch;
}

.section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section#man {
    border-right: 1px solid black;
}

.section#machine {
    border-left: 1px solid black;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px;

}

.lifebar {
    display: flex;
}

.life {
    width: 100px;
    height: 20px;
    border: 1px solid black;
}

.skills {
    display: flex;
    padding: 30px;
    gap: 20px;
}

.skill {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    background-color: white;
    border: none;
    filter: drop-shadow(3px 3px 5px black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.full {
    background-color: green;
}

.icon {
    width: 70%;
    height: 70%;
}

#machine .fighter {
    font-family: Wallpoet;
    font-size: 3rem;
    margin: 0;
}

#man .fighter {
    font-family: "East Sea Dokdo";
    font-size: 4rem;
    margin: 0;
}

.skills button:hover {
    border: 2px solid gold;
}

.cover {
    position: absolute;
    background-color: #202024;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
}

.popup {
    position: absolute;
    height: 200px;
    width: 400px;
    background-color: #202024;
    top: calc(50% - 100px);
    left: calc(50% - 200px);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}